<!DOCTYPE html>
<html>

<head>
    <title>Temperature</title>
    <link rel="stylesheet" href='/static/style.css' />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', (event) => {
		
		    let socket;
			
			if (location.port) {
				socket = io.connect('http://' + document.domain + ':' + location.port);
			} else {
				socket = io.connect('http://' + document.domain + ':' + '80');
			}
			
            console.log(document.domain)
            console.log(location.port)
            console.log('Socket.IO connected');

            socket.emit('request_stored_data');

            socket.on('temperature', function(msg) {
                console.log('Received temperature event');
                console.log(msg.data);

                document.getElementById('temperature').innerHTML = msg.data;
            });

            // Add event listener to the card
            document.querySelector('.card').addEventListener('click', function() {
                //alert('Card clicked!');
                socket.emit('card_click');
            });

            // Make the card draggable
            let card = document.querySelector('.card');
            card.draggable = true;
            card.addEventListener('dragstart', function(e) {
                e.dataTransfer.setData('text/plain', 'dummy');
                console.log("Card dragged");
            });

            // Handle the dragover event
            document.body.addEventListener('dragover', function(e) {
                e.preventDefault();
                e.dataTransfer.dropEffect = 'move';
                console.log(e.pageX);
            });

            // Handle the drop event
            document.body.addEventListener('drop', function(e) {
                e.preventDefault();
                card.style.left = (e.pageX - card.offsetWidth / 10) + 'px';
                card.style.top = (e.pageY - card.offsetHeight / 10) + 'px';
                console.log("Card dropped");
            });

        });



    </script>
</head>

<body>
    <div class="card">
        <div class="content">
            <h2>Room Temperature</h2>
            <p><span id="temperature"></span> °C</p>
        </div>
    </div>
</body>

</html>
