<!DOCTYPE html>
<html>

<head>
    <title>Temperature and Humidity</title>
    <link rel="stylesheet" href='/static/style.css' />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', (event) => {
		
		    let socket;
			
			if (location.port) {
				socket = io.connect('http://' + document.domain + ':' + location.port);
			} else {
				socket = io.connect('http://' + document.domain + ':' + '80');
			}
			
            console.log(document.domain)
            console.log(location.port)
            console.log('Socket.IO connected');

            socket.emit('request_stored_data');

            socket.on('message', function(msg) {
                console.log('Received message event');
                console.log(msg.temperature);
                console.log(msg.humidity);

                document.getElementById('temperature').innerHTML = msg.temperature;
                document.getElementById('humidity').innerHTML = msg.humidity;
            });

            // Add event listener to the card
            document.querySelector('.card').addEventListener('click', function() {
                //alert('Card clicked!');
                socket.emit('card_click');
            });

            let draggedCard = null; // Add this line

            // Make all cards draggable
            let cards = document.querySelectorAll('.card');
            cards.forEach((card) => {
                card.draggable = true;
                card.addEventListener('dragstart', function(e) {
                    e.dataTransfer.setData('text/plain', 'dummy');
                    console.log("Card dragged");
                    draggedCard = card; // Set the draggedCard when drag starts
                });
            });

            // Handle the drop event
            document.body.addEventListener('drop', function(e) {
                e.preventDefault();
                if (draggedCard) { // Check if a card is being dragged
                    draggedCard.style.left = (e.pageX - draggedCard.offsetWidth / 10) + 'px';
                    draggedCard.style.top = (e.pageY - draggedCard.offsetHeight / 10) + 'px';
                    console.log("Card dropped");
                    draggedCard = null; // Reset the draggedCard when drop is done
                }
            });

            // Make the card draggable
            // let card = document.querySelector('.card');
            // card.draggable = true;
            // card.addEventListener('dragstart', function(e) {
            //     e.dataTransfer.setData('text/plain', 'dummy');
            //     console.log("Card dragged");
            // });

            // Handle the dragover event
            document.body.addEventListener('dragover', function(e) {
                e.preventDefault();
                e.dataTransfer.dropEffect = 'move';
                console.log(e.pageX);
            });

            // Handle the drop event
            // document.body.addEventListener('drop', function(e) {
            //     e.preventDefault();
            //     card.style.left = (e.pageX - card.offsetWidth / 10) + 'px';
            //     card.style.top = (e.pageY - card.offsetHeight / 10) + 'px';
            //     console.log("Card dropped");
            // });

        });

    </script>
</head>

<body>
    <div id="temperature-card" class="card">
        <div class="content">
            <h2>Room Temperature</h2>
            <p><span id="temperature"></span> °C</p>
        </div>
    </div>

    <div id="humidity-card" class="card">
        <div class="content">
            <h2>Room Humidity</h2>
            <p><span id="humidity"></span> %RH</p>
        </div>
    </div>

</body>

</html>
